<!--
  Generated template for the AprovacaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azuldecor">
    <ion-title>Lista de Compras</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list *ngIf="noe" radio-group>

    <div *ngFor="let item of noe.orcamentos">
      <ion-list-header class="titulo2">
        {{item.titulo}}
      </ion-list-header>

      <ion-item *ngFor="let opcao of item.opcoes">
        <ion-label><img src="{{opcao.foto}}">
          <ion-item> </ion-item>
        </ion-label>
        <ion-label>{{opcao.nome}}</ion-label>
        <ion-label>R${{opcao.preco*opcao.quantidade}},00</ion-label>
        <ion-radio></ion-radio>
            <button ion-button clear item-end (click)='irParaDetalhe(opcao)'>Ver</button>
      </ion-item>
    </div>

  </ion-list>
