page-aprovados {

}

ion-label{
  font-size: 15px;
  color:gray;

  .label.label-md{
    font-size: 30px;


  }

span{
  float:right;
}

}
.titulo1 {
  font-size: 16px;
  margin-bottom: 30px;

}
.titulo2 { 
    font-size: 16px;
  }


.titulo3 { 
  border-color: gray;
}

.textoTotal{
  color: grey;
  font-size: 17px;
}