page-home {
  .bemVindo {
    font-family: sans-serif;
  }
  .imagemDecoradoria {
    width: 87%;
    margin-left: 9%;
    margin-top: 44%;
  }
  ion-content{
    background-image: url("../assets/imgs/capa.jpg");
    background-size: auto 100%;

    .transparencia{
      height: 100vh;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: white;
      opacity: 0.45;
      z-index: -1;
      // filter: alpha (opacity=65);
    }
  }
}
