page-beneficios {

}
img{
    object-fit: scale-down;
 }
 
 h1{
    font-size: 17px !important;
    margin-bottom: 10px !important;
    font-style: bold;
    color: black;
 }
 
 p{
    margin-bottom: 10px !important;
 }
 
 .item-inner{
    padding: 0 !important;
 } 

