page-menuinclusao {

  .button-md-light{
    display: block;
    width: 90%;
    color: #000;
    background-color: #f4f4f4;
    margin: auto;
    height: 50%;
   }  

   .mrg{
     margin-top: 20px;
   }
  
  .card-background-page {
    
    ion-card {
      position: relative;
      text-align: center;
      width: 85%;
      display: block;
      margin-top: 34px;
      margin-left: auto; 
      background-color: rgb(196, 193, 193);
      margin-right: auto;
    }
    
    .card-title {
      position: absolute;
      display: block;
      top: 44%;
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: rgb(71, 65, 65);
      margin: auto
    }
    
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 60%;
      width: 100%;
      color: #fff;
    }
    
    .space{
      margin-bottom: 40px;
    }
  }
  
}
