<!--
  Generated template for the FormularioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="azuldecor" *ngIf="noe.acesso"> <!--acesso vem de noe.acesso -->
    <ion-title>Incluir Produtos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Cliente</ion-label>
      <ion-select [(ngModel)]="dados.clienteId" [(ngModel)]="dados.opcoes[0].clienteId">
        <ion-option *ngFor="let cliente of clientes" [value]="cliente._id">
          {{cliente.nome}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label color="" fixed>Ambiente</ion-label>
        <ion-input [(ngModel)]="dados.ambiente" [(ngModel)]="dados.opcoes[0].ambiente"></ion-input>
      </ion-item>

    <ion-item>
        <ion-label color="" fixed>Tipo</ion-label>
        <ion-input [(ngModel)]="dados.tipo" [(ngModel)]="dados.opcoes[0].tipo"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label color="" fixed>Marca</ion-label>
      <ion-input [(ngModel)]="dados.opcoes[0].marca"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="" fixed>Modelo</ion-label>
      <ion-input [(ngModel)]="dados.opcoes[0].modelo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="" fixed>Quantidade</ion-label>
      <ion-input [(ngModel)]="dados.opcoes[0].quantidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="" fixed>Preço Unit.</ion-label>
      <ion-input [(ngModel)]="dados.opcoes[0].preco"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="" fixed>Link</ion-label>
        <ion-input [(ngModel)]="dados.opcoes[0].link"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label color="" fixed>Descrição</ion-label>
      <ion-input [(ngModel)]="dados.opcoes[0].descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="" fixed>Foto</ion-label>
      <ion-input [(ngModel)]="dados.opcoes[0].foto"></ion-input>
    </ion-item>

  </ion-list>

  <button color="azuldecor" ion-button (click)="inserirFormulario()">Salvar</button>
</ion-content>
